.Card {
  position: absolute;
  width: 70px;
  top: -95px;
}

.Card:nth-child(1) { left: 0; }
.Card:nth-child(2) { left: 75px; }

.Table-omaha .Card:nth-child(1) { left: 0; }
.Table-omaha .Card:nth-child(2) { left: 25px; }
.Table-omaha .Card:nth-child(3) { left: 50px; }
.Table-omaha .Card:nth-child(4) { left: 75px; }
